<h3>
    {{viewTitle}}
</h3>
<a href="/article" class="btn btn-danger">
    {{!-- <i class="material-icons"aria-hidden="true">add</i>  --}}
    Create New
</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Contenu</th>
            <th>Auteur</th>
            <th>Date</th>
            <th>Catégorie</th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each articles}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.content}}</td>
            <td>{{this.author}}</td>
            <td>{{this.date}}</td>
            <td>{{this.category}}</td>

            <td><img class="materialboxed" width="250" height="auto" src="/uploads/{{this.imageUrl}}" /></td>
            <td>
                <a href="/article/{{this._id}}">
                   <i class="material-icons" aria-hidden="true">edit</i>
                </a>
                <a href="/article/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record?');">
                    <i class="material-icons" aria-hidden="true">delete</i>
                </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>