<div class="container">
<h3>
    {{viewTitle}}
</h3>
<a href="/adminArticle" class="btn btn-danger">
    {{!-- <i class="material-icons"aria-hidden="true">add</i>  --}}
    Create New
</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Contenu</th>
            <th>Auteur</th>
            <th>Date</th>
            <th>Catégorie</th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        {{#each articles}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.content}}</td>
            <td>{{this.user_firstname}} {{this.user_lastname}}</td>
            <td>{{this.date_creation}}</td>
            <td>{{this.name}}</td>

            <td><img class="materialboxed" width="250" height="auto" src="/{{this.type}}" /></td>
            <td>
                <a href="/adminArticle/{{this.id}}">
                   <i class="material-icons" aria-hidden="true">edit</i>
                </a>
                <a href="/adminArticle/delete/{{this.id}}" onclick="return confirm('Are you sure to delete this record?');">
                    <i class="material-icons" aria-hidden="true">delete</i>
                </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>