<div class="container">
<h3>{{viewTitle}}</h3>

<form action="/adminCategory" method="POST" autocomplete="off"> 
{{#each categories}}
    <input type="hidden" name="id_category" value="{{this.id_category}}">
    <div class="form-group">
        <label>Nom</label>
        <input type="text"  class="form-control" name="name" value="{{this.name}}" placeholder="name">
        
    </div>
    <div class="form-group">
        <label>Contenu</label>
        <textarea class="form-control" name="description" value="{{this.description}}"
            placeholder="Votre article">{{this.description}}</textarea>
        
   {{/each}}
    <div class="form-group">
       <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
        <a href="/adminCategory/list" class="btn btn-danger">
            <i class="fa fa-list-alt"></i>View All
        </a>
    </div>
 </div>

</form></div>